# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
*.egg

# Environment variables
.env

# Database
*.db
test.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Test coverage
.coverage
htmlcov/
coverage.xml
.pytest_cache/

# Logs
*.log

.vscode/
